{
    # debug
    admin off
    # servers {
    #     listener_wrappers {
    #         layer4 {
    #             # import "./signal_l4.caddy"
    #             route
    #         }
    #         tls
    #     }
    # }
}

# import "./signal_sites.caddy"

(authorization) {
    @unauthorized not header X-Auth-Token {$CDN_AUTH_TOKEN}
    handle @unauthorized {
        abort
    }
}

(rm-cdn-auth-header) {
    header_up -X-Auth-Token
}

(proxy_handler) {
    encode
    root * /www
    route {
        reverse_proxy {$PANEL_PATH}/* {$PANEL}:{$PANEL_PORT} {
            import rm-cdn-auth-header
        }
        reverse_proxy {$SUBSCRIPTION_PATH}/* {$PANEL}:{$SUBSCRIPTION_PORT} {
            import rm-cdn-auth-header
        }
        reverse_proxy {$PROXY_XHTTP_PATH}/* {$PANEL}:{$PROXY_XHTTP_PORT} {
            import rm-cdn-auth-header
        }
        reverse_proxy {$PROXY_XHTTP_WARP_PATH}/* {$PANEL}:{$PROXY_XHTTP_WARP_PORT} {
            import rm-cdn-auth-header
        }
        reverse_proxy {$PROXY_WEBSOCKET_PATH} {$PANEL}:{$PROXY_WEBSOCKET_PORT} {
            import rm-cdn-auth-header
        }
        reverse_proxy {$PROXY_WEBSOCKET_WARP_PATH} {$PANEL}:{$PROXY_WEBSOCKET_WARP_PORT} {
            import rm-cdn-auth-header
        }
        handle {
            import "./basic_auth.caddy"
            file_server
        }
    }
}

(cdn_handler) {
    import authorization
    import proxy_handler
}

www.{$DOMAIN} {
    import authorization
    redir https://{$DOMAIN}{uri}
}

{$DOMAIN} {
    import cdn_handler
}

{$ORIGIN_SUBDOMAIN}.{$DOMAIN} {
    import cdn_handler
}

{$CLOUDFLARE_SUBDOMAIN}.{$DOMAIN} {
    import cdn_handler
}

{$IP_SUBDOMAIN}.{$DOMAIN} {
    encode
    templates
    respond "{{.RemoteIP}}"
}

# healthcheck
http://localhost:8000 {
    respond "OK"
}
